.header {
  background-color: #4F4F4F;
  border-bottom: 6px solid #1F1F1F;
  color: #FFFFFF;
  padding: 6px;
  position: fixed;
  top: 0px;
  width: 100%;
}
.header span {
  font-size: 5vmin;
}
.header .link {
  font-variant: small-caps;
  text-decoration: none;
  color: white;
  padding: 8px;
}
