table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.listado {
  width:100%;
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: text-top;
}
.listado thead {
  color: white;
  background-color: #0cf;
  font-size: 3vmin;
}
.listado th div {
  font-size: 4vmin;
  padding: 4px;
  background: #0cf;
}
.listado th:first-child div {
  background: #0cf;
}
.listado div {
  text-align: left;
  text-indent: 4px;
  padding: 2px;
}
.listado td {
  background-color: #0be;
}
.listado input[type=number] {
  width: 80%;
}
tr:nth-child(even) td {
  background: #f1f1f1;
}

tr:last-of-type td {
/*  box-shadow: inset 0 -1px 0 #fff; */
}
.aligned {
  text-align: left;
}
