.App {
  text-align: center;
}
.default {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 2px solid rgba(0,0,0,0.3);
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 4px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: inset 0 -4px 5px -4px rgba(0,0,0,0.9);
}
.link {
  color: #000;
  text-decoration: none;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
